/**/
.titulo{
  background-color: #1180ae;
  color: white;
  font-family: cursive;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.caixa{
  margin-top: 250px;
  
}
.caixa1{
  height: 100px;
  background-color: rgb(218, 235, 250);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#mapa{
  margin-top: 30px;
    background-color: #1180ae;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 300px;    
}
body{
  background-image: url("../imagens/fundo.gif");
  background-repeat:no-repeat;
  background-size: 900px;;
}